* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #0f0c29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
}

.clock {
    height: 300px;
    width: 300px;
    background: #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border: 4px solid #444;
}

.clock span {
    position: absolute;
    inset: 15px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 18px;
    color: #fff;
}

.clock::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    z-index: 10;
}

.hand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom;
}

.hand i {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background: var(--clr);
    border-radius: 10px;
}


#hour i {
    height: 70px;
}

#minute i {
    height: 100px;
}

#second i {
    height: 120px;
    background: red;
}

@media (max-width: 480px) {
    .clock {
        height: 220px;
        width: 220px;
    }

    .clock span b {
        font-size: 14px;
    }

    #hour i {
        height: 50px;
    }

    #minute i {
        height: 75px;
    }

    #second i {
        height: 90px;
    }
}